.container{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
   
    
}
.box{
   height: 150px;
    width: 150px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.box1{
    background-color: red;
    flex-grow: 2;
    
}
.box2{
    background-color: green;
    /* flex-grow: 1; */
    /* flex-basis: 300px; */
}
.box3{
    background-color: blue;
    /* width: 500px; */
    /* order: -1; */
    /* flex-shrink: 2; */
    /* align-self: flex-start; */
}
.box4{
    background-color: pink;
    flex-grow: 1;
}
