body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 200);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 200px;
    width: 200px;
    background-color: orange;
    font-size: 2rem;
    border: 2px solid black;
    transition-property: all;
    text-decoration: 3s;
    transition-timing-function: linear;
}
.box:hover{
    transform: translate(200px);
}
